
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
}

p.small {
    text-align: center;
    line-height: 30%;
}

p.smallgreen {
    text-align: center;
    line-height: 30%;
    font-size: 10px;
    font-weight: normal;
    color: #006633;
}

p.smallred {
    text-align: center;
    line-height: 80%;
    font-size: 10px;
    font-weight: bold;
    color: #E00000;
}

p.xsmall {
    text-align: left;
    line-height: 30%;
    font-size: 8px;
}

table {
    border-collapse: collapse;
    margin: 1em auto;
}

tr.dados {
    background-color:#FFFFFF;
}

tr.cancel {
    background-color:#FF33FF;
}

td.border {
    padding: 5px 10px;
    border: 1px solid #999;
    font-size: 10px;
}

td.center {
    text-align: center;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

td.numero {
    font-weight: bold;
}

td.email {
    //color: #666;
    text-decoration: underline;
}

th.border {
    padding: 5px 10px;
    border: 1px solid #999;
    font-size: 10px;
    background-color: #eee;
}

th.dados {
    background-color:#CCCCCC;
    text-align: center;
}

th[data-sort]{
    cursor:pointer;
}

/* just some random additional styles for a more real-world situation */
#msg {
    color: #0a0;
    text-align: center;
}

/* zebra-striping seems to really slow down Opera sometimes */
//tr:nth-child(even) > td {
//    background-color: #f9f9f7;
//}
//tr:nth-child(odd) > td {
//    background-color: #ffffff;
//}

.disabled {
    opacity: 0.5;
}


div.left {
    float: left;
    width: 30%;
}

div.right{
    float: right;
    width: 30%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 98%;    
}
